<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mobile_robot)/urdf/diff_robot.xacro'"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <!-- <arg name="world_name" value="$(arg world_file)"/> -->
  </include>

    <arg name="x" default="0"/>
        <arg name="y" default="0"/>
        <arg name="z" default="0.05"/>
        

        <!-- Spawn the robot model -->
        <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
              args="-urdf -param robot_description -model diff_robot -x $(arg x) -y $(arg y) -z $(arg z)" />

        


  <!--   
     <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <param name="use_gui" value="True"/>
    </node>  -->
  
</launch>